*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #072227;
    color: white;
}

header, footer{
    text-align: center;
    margin: 15px auto;
}

section{
    width: 400px;
    height: 400px;
    background-color: #35858B;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(255,255,255, 0.3);
}

div#dados, div#dadosProcessados{
    text-align:left;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color:white;
    border-radius: 10px;
    color: black;
}

input{
    display: block;
    margin-top: 5px;
    text-align: center;
}

button#btn-adicionar{
    float: right;
    margin-top: 15px;
}

button{
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

button:hover{
    background-color: #072227;
    color: white;
}

select{
    width: 120px;
    size: 6;
}

div#dadosProcessados{
    margin-top: 15px;
    height: 120px;
}

h3{
    text-align: center;
    font-style: italic;
}

ul{
    list-style-type: none;
}